<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleDisplayName</key>
	<string>Silox</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.angelcriber.silox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.angelcriber.silox</string>
			</array>
		</dict>
	</array>
	<key>SILOX_API_BASE_URL</key>
	<string>$(SILOX_API_BASE_URL)</string>
	<key>SILOX_APP_GROUP</key>
	<string>$(SILOX_APP_GROUP)</string>
	<key>SILOX_KEYCHAIN_GROUP</key>
	<string>$(SILOX_KEYCHAIN_GROUP)</string>
	<key>SILOX_SUPABASE_URL</key>
	<string>$(SILOX_SUPABASE_URL)</string>
	<key>SILOX_SUPABASE_ANON_KEY</key>
	<string>$(SILOX_SUPABASE_ANON_KEY)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Necesitamos tu Face ID para proteger tus datos financieros</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
